.all {
    color: grey;
    text-align: center;
}

.article {
    text-decoration: underline;
    color: orange;


}

.article:hover {
    color: grey;
}

.accordion-button {
    background-color: rgb(223, 220, 220);
    border: 1px rgb(146, 145, 145) solid;
    justify-content: center;

}

.accordion-button::after {
    margin: 0;
}